html, body{
    padding: 0;
    margin: 0;
 }

#index, body{
    background: rgba(255, 250, 205, 0);
}


/* TopNav */
.topnav{
    padding: 10px;
    background: rgb(25, 28, 34);
    color: white;
    font-size: 30px;
}

.topnav, a{
    color: #f2f2f2;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: rgba(92,100,137,255);
    color: rgb(24, 22, 32);
}
.topnav a#Logo{
    display:inline-block;
    align-content: left;
}
.topnav img{
    height: 100px;
}

/* Banner */
.bg {
    background-size:cover;
    height: 1080px;
    background-attachment:fixed;
    background-repeat: no-repeat;
}



/* Title */
.title, h3 { 
    margin-top: 0px;
    color: rgb(19, 19, 31);
    font-family: "Century Gothic";
    font-size: 100px;
}
.title, p{
    color: black;
    font-family: "Verdana";
    font-size: 20pt;
}


/* mountain */
div.mountain {
    margin-left: -1cm;

    overflow: hidden;
    background-image: url(https://www.vippng.com/png/full/73-737650_png-transparent-mountain-hill-silhouette-png-download-mountain.png);
}
div.mountain img{
    margin-top: 0cm;  
    width: 2000px;
    
}

/* Text */
.text{
    color: lightcyan;
    font-family:serif;
    font-size: 20px;
    background-color: rgba(14,9,28,255);
    word-wrap: break-word;
    align-content: center;
}
.text, h1{
    margin: 0cm;
    line-height: auto;
}

.text #Des{
    color: lightcyan;
    font-family:serif;
    font-size: 25px;
    background-color: rgba(14,9,28,255);
    align-content: center;
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 0px;

}
.text #SDes{
    color: lightcyan;
    overflow-x: hidden;
    position: static;
    margin-top: 0px;
    padding-top: 250px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    font-family: serif;
}



/* Footer */
.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(15, 15, 27);
    text-align: left;
}
.footer img{
    height: 100px;
}